
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - 2181:2181

  kafka:
    image: confluentinc/cp-kafka:7.0.1
    container_name: kafka
    depends_on:
      - zookeeper
    env_file: envs/kafka.env
    ports:
      - 29092:9093

  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - 8080:8080
    environment:
      DYNAMIC_CONFIG_ENABLED: true

  clickhouse:
    image: clickhouse/clickhouse-server
    container_name: clickhouse
    env_file: envs/clickhouse.env
    ports:
      - 18123:8123
      - 19000:9000
    ulimits:
      nofile: 262144